<h1>App starts from here!</h1>
<!-- <hinv-rooms></hinv-rooms> -->


<hinv-container>

  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>

  <h1>This is from ng-content tag</h1>
</hinv-container>

<!-- <div #name>

</div> -->

<!-- <div>
  <p>Hello this is my first paragraph!</p>
</div>


@switch (role) {
@case ("User") {
Welcome User!
}
@case ("Admin") {
Welcome Admin!

}
@default {
You are not authorized to view this page!
}
} -->

<!-- <div>
  <ng-template #user></ng-template>
</div> -->

<!-- <router-outlet></router-outlet> -->
