<!-- <h1>Welcome to {{hotelName}} </h1> -->
<hinv-header></hinv-header>
<!-- <hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header> -->

<!-- {{rooms$ | async | json}} -->
<div [hidden]="hideRooms">
    Number of Rooms:
    <div  [style]="{'color': rooms.availableRooms ? 'green' : 'red'}" 
    [innerText]="numberOfRooms"></div>
</div>

<div>

    <!-- {{ rooms.availableRooms ?? 'No rooms available' }} -->
    <!-- {{ roomList | json}} -->

    <div>
        @if(selectedRoom){
            {{ selectedRoom | json }}
        }
    </div>

    <div>
        <button (click)="addRoom()">Add Room</button>
    </div>

    
    @if(rooms$ | async){
    Available Rooms {{rooms.availableRooms}}

    <br/>

    <hinv-rooms-list [rooms]="rooms$ | async" [title]="title"
    (selectedRoom)="selectRoom($event)"></hinv-rooms-list>

    <!-- {{roomList}} -->

    }



    @else {
    No Rooms
    }
</div>
    <button (click)="toggle()">Toggle</button>
    <button (click)="editRoom()">Edit Room</button>
    <button (click)="deleteRoom()">Delete Room</button>





    <h1>
        {{totalBytes}} loaded
    </h1>
